/*css for admin post*/
#admin_post_type_list{margin-top:1em}
#admin_post_content_list{margin-top:1em}
#admin_post_content_list .item{padding: 0.5em 3px;border-bottom: 1px dotted #fff;}
#admin_post_content_list .item:nth-child(2n+1){background-color:rgba(100,100,100,0.1)}
#admin_post_content_list .item:hover{background-color:rgba(100,100,100,0.2)}
#admin_post_content_list .item_avata{width:1em;height:1em;margin-right:0.5em}
#admin_post_content_list .item_control{float:right}
#admin_post_content_list .item_control img{width:1em;height:1em;margin-left: 0.5em;}
#admin_post_content_list .item_control .icon{margin-left: 0.5em;}
#admin_post_content_list .item_control .icon:hover{background-color: rgba(255,255,255,0.9);}
#admin_post_content_list .item_avata{width:2em;height:2em;margin-right: 0.5em;}
