<div class="margin_bottom_10 padding_10 padding_top_20 padding_bottom_20 background_color_item">
    <div class="float_left margin_right_10">
        <input class="list_cart_input" type="checkbox" data-id="__id__">
    </div>
    <div class="float_left list_cart_image margin_right_10">
        <img src="__avata__" alt="__title__">
    </div>
    <div class="list_cart_title float_left margin_right_10">        
        <span>__title__</span>
    </div> 
    <div class="list_cart_count float_left margin_right_10">
        <span>
            __count__
        </span>
    </div>
    <div class="list_cart_dongia float_left margin_right_10">
        <span>
            __dongia__
        </span>
    </div>
    <div class="list_cart_thanhtien float_left">
        <span>
            __thanhtien__
        </span>
    </div>
    <div class="clear_both"></div>
</div>
