<div class="cart_background margin_top_10 margin_bottom_10">
    <div class="max_width1188">
        <div class="cart_left cart_background">
            <div class="cart_left_list_header background_color_item margin_bottom_10">
                <div class="float_left margin_right_10 margin_bottom_10">
                    <input class="list_cart_all" type="checkbox">
                </div>
                <div class="float_left">
                    <span class="">CHỌN TẤT CẢ</span>
                </div>
                <div class="list_cart_all_delete float_right margin_right_10">
                    <i class="fas fa-trash delete_btn"></i>
                </div>
                <div class="clear_both"></div>
            </div>
            <div class="list_cart">
                <div>__list__</div>
            </div>
        </div>
        <div class="cart_right">
            <h3>Thông tin đơn hàng</h3>
        </div>
        <div class="clear_both"></div>
    </div>    
</div>