@media all and (min-width: 320px) 
{
}
@media all and (min-width: 480px) 
{
}
@media all and (min-width: 600px) 
{
}
@media all and (min-width: 720px) 
{
}
@media all and (min-width: 800px) 
{
}
@media all and (min-width: 980px) 
{
}
@media all and (min-width: 1024px) 
{
}
@media all and (min-width: 1240px) 
{
}
/*
color: 
    xanh duong: #26a1dd
    cam: #e66611
    trang: #ffffff
background-clor: 
    hồng nhạt #fbd3e5
    vàng nhạt: #f9f8b6
    xanh lá: #b7f6ae
    trang: #ffffff*/