<div class="product_show_item float_left margin_right_10" id="product_show__id__" title="__title__">
    <a href="index.php/product/index/__id__">
        <div class="product_show_item_top">
            <img src="__avata__" alt="__title__">
        </div>
        <div class="product_show_item_bottom">
            <div class="product_show_item_bottom_title">
                <span class="">__title__</span>
            </div>
            <div class="product_show_item_bottom_price">
                <span class="">__price__ đồng</span>
            </div>
        </div>
    </a>
</div>