<footer>
    <div id='footer'>
        <div class="width_max1300px">
            {{footer_links}}

            <div class="clear_both"></div>
            <div class="footer_info">
                <div class="width_50">
                    <img data-original='assets/img/system/favico.png' src='assets/img/system/lazyload.gif' class='float_left footer_favico' alt="logo"/>
                    <span class='align_middle' >
                        2015 - {{current_year}} - 
                        <a href=''>{{domain_name}}</a>
                    </span>
                    <br />
                    <span class='fontsize_d2'>{{page_slogend}}</span>
                    <div class="clear_both"></div>
                </div>
                <div class="width_50 contact">
                    <img src='assets/img/system/lazyload.gif' data-original='assets/img/system/google.png' alt="google"/>
                    <a href="{{fb_fanpage_link}}" title="Fanpage {{domain_name}}">
                        <img src='assets/img/system/lazyload.gif' data-original='assets/img/system/facebook.png' alt="Fanpage {{domain_name}}"/>
                    </a>
                    <img src='assets/img/system/lazyload.gif' data-original='assets/img/system/twitter.png' alt="twitter"/>
                    <img src='assets/img/system/lazyload.gif' data-original='assets/img/system/zalo.png' alt="zalo"/>
                    <div class="clear_both"></div>
                </div>
                <div class="clear_both"></div>
            </div>
            <div class="padding_v footer_company">
                Đơn vị chủ quản: {{company_name}}
            </div>
        </div>
    </div>
</footer>
